body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body, textarea, input {
    font-family: "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
a {
    color: #333;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    margin-bottom: 3rem;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
#header>div{
    max-width: 800px;
    margin: 0 auto;
}
#header li {
    list-style: none;
    display: inline-block;
    padding: 1em;
}
#files {
}

#prompt {
    margin-bottom: 80% !important;
}
#prompt, .file {
    border: 1px solid #ddd;
    padding: 1em;
    margin: .5em;
    border-radius: .25rem;
}

textarea.editor {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 100%;
    resize: none;
    overflow: hidden;
    line-height: 1.5;
    /*box-shadow: 0px -15px 25px -20px #ccc;*/
}
#prompt textarea:focus{
    border-bottom: 1px solid red;
}
#prompt .buttons {
    text-align: center;
    padding: 1em 0;
}
.file .content{
    white-space: pre-wrap;
    line-height: 1.5;
}
.file .content.image {
    text-align: center;
}
.content img {
    max-width: 100%;
}
.meta {
    text-align: right;
    border: none;
    padding-bottom: .5em;
}
.meta .item {
    padding-left: .5em;
    border-left: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
}
.meta .item:first-child {
    border-left: none;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #ddd;
    }
    a {
        color: #ddd;
    }
    #header {
	background: #000;
	border-bottom: 1px solid #555;
    }
    #prompt,.file {
	border: 1px solid #555;
    }
    #prompt textarea {
	background: #000;
	color: #ddd;
    }
}
@media print{
    body{
	max-width:none
    }
}
@media screen and (max-width: 800px) {
  #prompt, .file {
      border-right: none;
      border-left: none;
      border-bottom: none;
      padding: 1em;
      margin: 0;
      border-radius: 0;
  }
}
