body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body, textarea, input {
    font-family: "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
a {
    color: #333;
}

.hidden {
    display: none;
}
.btn {
    pointer: cursor;
}
.spacer {
    padding: 1em;
}
.label {
    font-size: .8em;
    border: 1px solid;
    border-radius: 3px;
    padding: .1em .3em;
    text-decoration: none;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
#header>div{
    max-width: 33em;;
    margin: 0 auto;
}
#header .item {
    display: inline-block;
    padding: 1em;
}
#header .item.right{
    float: right;
    border-left: 1px solid #ccc;
}
.container {
    margin: 0 auto;
    margin-top: 3em;
    max-width: 33em;
    height: 100%;
    margin-bottom: 3rem;
}

.label.right {
    text-align: right;
}
input {
    border-radius: 0;
}

input.field.label {
    padding-top: 0;
}

input.field {
    width: 100%;
    border: none;
    font-size: 100%;
    padding: 1em 0;
    border-bottom: 1px solid;
    outline: none;
    background: none;
}
input.title {
    font-weight: bold;
    border-radius: 0;
}
input.field:focus,#prompt:focus{
    border-bottom: 1px solid red;
}
textarea.editor {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 100%;
    resize: none;
    overflow: hidden;
    background: none;
    margin-bottom: 80% !important;
    box-sizing: border-box;
}
textarea.editor:focus{
    border-bottom: 1px solid red;
}

.file .title {
    border-bottom: 1px solid #cccccc;
    padding: 1em 0;
    font-weight: bold;
}
.file .content, textarea.editor {
    line-height: 1.5;
    padding: 1em 0;
}
.file .content{
    white-space: pre-wrap;
}
.file .content.image {
    text-align: center;
}
.content img {
    max-width: 100%;
}

.window {
    top: 0;
    bottom: 0;
    left: 0;
}
.window>div {
    padding: 0;
    margin: .5em auto;
    position: fixed;
    background: #efefef;
    width: 33em;
    height: calc(100% - 4em);
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
}

#shell-output, #menu {
    padding: 1em;
    white-space: pre-wrap;
}
#prompt {
    width: calc(100% - 2em);
    border: none;
    font-size: 100%;
    margin: 1em;
    outline: none;
    background: none;
    border-radius: 0;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #ddd;
    }
    a {
        color: #ddd;
    }
    #header {
	      background: #000;
	      border-bottom: 1px solid #555;
    }
    #header .item.right{
	      border-left: 1px solid #555;
    }
    input {
	      background: none;
	      color: #ddd;
    }
    textarea.editor {
	      background: #000;
	      color: #ddd;
    }
    .window>div {
	      background: #222;
	      color: #ddd;
    }
}
@media print{
    body{
	      max-width:none
    }
}
@media screen and (max-width: 800px) {
    .file {
        padding: 1em;
        margin: 0;
    }
}
