<!DOCTYPE html>
<html>
{{template "header" .}}
  <body>
    <form id="new-form" enctype="multipart/form-data" method="POST">
      <div class="container">
	<div class="title">
	  <div><input class="field" type="text" placeholder="Enter file name" name="name" value="{{if .Name}}{{.Name}}{{end}}"/></div>
	</div>
	<div class="btns">
{{template "default-toolbar" .}}
	  <span id="save-btn" class="btn item">
	    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
	        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
	    </svg>
	  </span>
	  {{if .Name }}
	  <a class="item" href="/{{.Name}}">
	    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
	        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
	    </svg>
	  </a>
	  {{ end }}
	  </span>
	</div>
	
	<div id="files">
	  <div class="file">
	    <input class="hidden" id="file-input" type="file" name="file" multiple/>
	    <input class="hidden" type="submit" value="Save" />
	    <textarea id="editor" class="editor" name="text" placeholder="Add your content here or drop a file...">{{if .Name}}{{.Content}}{{end}}</textarea>
	  </div>
	</div>
	
{{template "windows" .}}
    </form>

    <script type="text/javascript" src="/s/file.js"></script>
    <script type="text/javascript" src="/s/edit.js"></script>
  </body>
</html>
