<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edi</title>
    <link href="/static/app.css" rel="stylesheet">
  </head>
  
  <body>
    <div id="container"></div>
    <div>
      <input id="prompt" type="text" name="prompt" placeholder="type your command here" />
    </div>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
