<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dabba</title>
    <link rel="stylesheet" href="/s/app.css"/>
  </head>
  <body ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
    <div class="container">
      <div id="files">
	{{ range .Files }}
	<div class="file">
	  <div class="meta">
	    <a class="item" href="/edit/{{ .ID }}">Edit</a>
	    <a class="item" href="/date/{{ .UpdatedAt.Format "2006/01/02" }}">{{ .UpdatedAt.Format "2006 Jan 02" }}</a>
	    <a class="item" href="{{ .ID }}">{{ .ID }}</a>
	  </div>
	  {{ if (eq .Type "text/plain") }}
	  <div class="content text">{{ .Content }}</div>
	  {{ else if (eq .Type "image") }}
	  <div class="content image"><img src="/{{ .ID }}" /></div>
	  {{ else }}
	  <div><a href="{{ .ID }}">{{ .Name }}</a></div>
	  {{ end }}
	</div>
	{{ end }}
      </div>
      <div id="prompt"><div>
	  <form enctype="multipart/form-data" method="POST" action="/">
	    <div class="buttons">
	      <input class="pure-button" id="file-input" type="file" name="file" multiple/>
	      <input class="pure-button" type="submit" value="Save" />
	    </div>
	    <textarea class="editor" name="text" autofocus="autofocus" placeholder="or add your new file here..."  oninput="auto_grow(this)"></textarea>
	  </form>
      </div></div>
    </div>
    <!--<script type="text/javascript" src="/s/jquery.js"></script> -->
    <script type="text/javascript" src="/s/app.js"></script>
  </body>
</html>
